.blogs {
    margin-top: 40px;
    text-align: center;
}

.fa-plus {
    font-size: 14px !important;
}

.blogs > a {
    text-decoration: none;
}

.blogs__blogsList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}